<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://d3fh6izap9gpy2.cloudfront.net/static/css/bootstrap.min.css">
    <link rel="icon" href="http://d3fh6izap9gpy2.cloudfront.net/static/favicon.ico" type="image/x-icon"/>
    <title>ATC 2.0 App</title>
  </head>
  <body>
    <div class="container">
            {% block content %}
            {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://d3fh6izap9gpy2.cloudfront.net/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="http://d3fh6izap9gpy2.cloudfront.net/static/js/popper.min.js"></script>
    <script src="http://d3fh6izap9gpy2.cloudfront.net/static/js/bootstrap.min.js"></script>
  </body>
</html>